
@media(min-width: 320px){
	#left{
		float: none;
	}
	#right{
		float: none;
	}


	.left-section{
		width: 100%;
		padding: 46px 30px;
	}
	#eye{
		right: 40px;
	}




	/* Right Section */
	.right-section .logo-small{
		font-size: 20px;
		padding-top: 35px;
	}
	.right-section .logo-small img{
		width: 39px;
		height: 15px;
		margin-top: -5px;
	}
}

@media(max-width: 425px){
	#left{
		float: none;
	}
	#right{
		float: none;
	}


	.left-section{
		width: 100%;
		padding: 46px 30px;
		padding-bottom: 20px;
	}
	.login-area{
		padding: 0px;
	}
	.btn-submit{
		line-height: 27px;
	}

	.text-footer{
		padding-top: 60px;
	}


	/* Right Section */
	.right-section{
		height: 256px;
	}
	.right-section .logo-small{
		font-size: 20px;
		padding-top: 35px;
	}
	.right-section .logo-small img{
		width: 39px;
		height: 15px;
		margin-top: -5px;
	}
	#eye{
		right: 40px;
	}
}


@media(min-width: 768px){
	#left{
		float: left;
	}
	#right{
		float: right;
	}

	.left-section{
		padding: 46px 30px;
	}

	.right-section .logo-small{
		padding-top: 150px;
		font-family: 'SanFranciscoDisplay-Regular';
		font-size: 28px;
		letter-spacing: 1.3px;
		color: #2b89d3;
		text-align: center;
	}
	.right-section .logo-small img{
		width: 56px;
		height: 20px;
		margin-top: -5px;
	}
}


@media(min-width: 1024px){
	.text-footer{
		padding-top: 60px;
	}

	.right-section .logo-small img{
		width: 60px;
		height: 23px;
		margin-top: -5px;
	}
}

@media(min-width: 1366px){
	/* Left Section */
	.left-section{
		height: 100vh;
		width: 100%;
		float: left;
		padding: 0px 156px;
		padding-top: 110px;
	}
	.left-section .login-area{
		width: 100%;
		height: 100%;
	}
	.left-section .login-area .logo-big{
		width: 145px;
		height: 55px;
		margin: auto;
	}
	.left-section .login-area .logo-big img{
		width: 100%;
		height: 100%;
	}

	.left-section .login-area .subtitle{
		font-family: 'SanFranciscoDisplay-Regular';
		font-size: 22px;
		letter-spacing: 1px;
		color: #1d82cf;
		text-align: center;
		padding-top: 11px;
		padding-bottom: 52px;
	}


	.left-section .login-area .form-group{
		padding-bottom: 5px;
	}
	.left-section .login-area .form-control{
		height: 45px;
		border-radius: 2px;
		color: #cfd2d4;
	}
	.left-section .login-area .row{
		padding-top: 30px;
	}
	.left-section .login-area .row p{
		padding-top: 10px;
		font-size: 14px;
		font-family: 'SanFranciscoDisplay-Light';
	}

	/* Eye icon password */
	#eye{
		position: absolute;
		margin-top: -30px;
		right: 170px;
	}
	#eye:hover{
		cursor: pointer;
		color: #1d82cf;
	}

	/* Button Submit */
	.btn-submit{
		width: 100%;
		height: 41px;
		line-height: 26px;
		border-radius: 3px;
		background-color: #1d82cf;
		color: #fff;
		box-shadow: 1px 7px 30px -12px #000;
	}

	/* Text Footer */
	.text-footer{
		padding-top: 110px;
	}


	/* Right Section */
	.right-section{
		width: 100%;
		height: 100vh;
		float: left !important; 
		/* Background Image */
		background: url(../img/bg-city.png) #c7e3f6;
		background-size: cover;
		background-position: center;
	}
	.right-section .logo-small{
		padding-top: 177px;
		font-family: 'SanFranciscoDisplay-Regular';
		font-size: 32px;
		letter-spacing: 1.3px;
		color: #2b89d3;
		text-align: center;
	}
	.right-section .logo-small img{
		width: 70px;
		height: 26px;
		margin-top: -5px;
	}
}

@media(min-width: 1440px){
	/* Left Section */
	.left-section{
		height: 100vh;
		width: 100%;
		float: left;
		padding: 0px 156px;
		padding-top: 110px;
	}
	.left-section .login-area{
		width: 100%;
		height: 100%;
	}
	.left-section .login-area .logo-big{
		width: 145px;
		height: 55px;
		margin: auto;
	}
	.left-section .login-area .logo-big img{
		width: 100%;
		height: 100%;
	}

	.left-section .login-area .subtitle{
		font-family: 'SanFranciscoDisplay-Regular';
		font-size: 22px;
		letter-spacing: 1px;
		color: #1d82cf;
		text-align: center;
		padding-top: 11px;
		padding-bottom: 52px;
	}


	.left-section .login-area .form-group{
		padding-bottom: 5px;
	}
	.left-section .login-area .form-control{
		height: 45px;
		border-radius: 2px;
		color: #cfd2d4;
	}
	.left-section .login-area .row{
		padding-top: 30px;
	}
	.left-section .login-area .row p{
		padding-top: 10px;
		font-size: 14px;
		font-family: 'SanFranciscoDisplay-Light';
	}

	/* Eye icon password */
	#eye{
		position: absolute;
		margin-top: -30px;
		right: 170px;
	}
	#eye:hover{
		cursor: pointer;
		color: #1d82cf;
	}

	/* Button Submit */
	.btn-submit{
		width: 100%;
		height: 41px;
		line-height: 26px;
		border-radius: 3px;
		background-color: #1d82cf;
		color: #fff;
		box-shadow: 1px 7px 30px -12px #000;
	}

	/* Text Footer */
	.text-footer{
		padding-top: 110px;
	}


	/* Right Section */
	.right-section{
		width: 100%;
		height: 100vh;
		float: left !important; 
		/* Background Image */
		background: url(../img/bg-city.png) #c7e3f6;
		background-size: cover;
		background-position: center;
	}
	.right-section .logo-small{
		padding-top: 177px;
		font-family: 'SanFranciscoDisplay-Regular';
		font-size: 32px;
		letter-spacing: 1.3px;
		color: #2b89d3;
		text-align: center;
	}
	.right-section .logo-small img{
		width: 70px;
		height: 26px;
		margin-top: -5px;
	}
}