@font-face {
	font-family: SanFranciscoDisplay-Regular;
	src: url(../fonts/SanFranciscoFont-master/SanFranciscoDisplay-Regular.otf);
}
@font-face {
	font-family: SanFranciscoDisplay-Light;
	src: url(../fonts/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf);
}

body{
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'SanFranciscoDisplay-Regular';
}
.nopadding{
	padding: 0px;
}
#left{
	float: left;
}
#right{
	float: right;
}



/* Left Section */
.left-section{
	height: 100vh;
	width: 100%;
	float: left;
	padding: 0px 156px;
	padding-top: 110px;
}
.left-section .login-area{
	width: 100%;
	height: 100%;
}
.left-section .login-area .logo-big{
	width: 145px;
	height: 55px;
	margin: auto;
}
.left-section .login-area .logo-big img{
	width: 100%;
	height: 100%;
}

.left-section .login-area .subtitle{
	font-family: 'SanFranciscoDisplay-Regular';
	font-size: 22px;
	letter-spacing: 1px;
	color: #2b89d3;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 52px;
}


.left-section .login-area .form-group{
	padding-bottom: 5px;
}
.left-section .login-area .form-control{
	height: 45px;
	border-radius: 2px;
	color: red;
}
.left-section .login-area .row{
	padding-top: 30px;
}
.left-section .login-area .row p{
	padding-top: 10px;
	font-size: 14px;
	font-family: 'SanFranciscoDisplay-Light';
}

#eye{
	position: absolute;
	margin-top: -30px;
	right: 170px;
}
#eye:hover{
	cursor: pointer;
	color: red;
}
i.fa-eye:before{
	color: transparent;
}
i.fa-eye.active{
	background: url(../img/shape.png);
	background-position: 100% 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	color: transparent;
}
i.fa-eye{
	background: url(../img/eye.png);
	background-position: 100% 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	color: transparent;
}
.active{
	color: transparent;
}


.btn-submit{
	width: 100%;
	padding: 7px 0px;
	line-height: 20px;
	border-radius: 3px;
	background-color: #1d82cf;
	color: #fff;
	box-shadow: 1px 7px 30px -12px #000;
	font-family: 'SanFranciscoDisplay-Regular';
}
.btn-submit:hover{
	color: #fff;
	background: #1573bb;
}


.text-footer{
	padding-top: 110px;
}


/* Right Section */
.right-section{
	width: 100%;
	height: 100vh;
	float: left !important; 
	/* Background Image */
	background: url(../img/bg-city.png) #c7e3f6;
	background-size: cover;
	background-position: center;
}
.right-section .logo-small{
	padding-top: 177px;
	font-family: 'SanFranciscoDisplay-Regular';
	font-size: 36px;
	letter-spacing: 1.3px;
	color: #2b89d3;
	text-align: center;
}
.logo-small img{
	width: 74px;
	height: 28px;
}

